<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301482998840-1vmnt9ul95saa58vhg4sn873rsir7mgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301482998840-1vmnt9ul95saa58vhg4sn873rsir7mgt</string>
	<key>API_KEY</key>
	<string>AIzaSyARpNQ0Zl6XbYmNdt8OJnEeml9OKr2eqUc</string>
	<key>GCM_SENDER_ID</key>
	<string>301482998840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bookBridge</string>
	<key>PROJECT_ID</key>
	<string>bookbridge-a9403</string>
	<key>STORAGE_BUCKET</key>
	<string>bookbridge-a9403.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301482998840:ios:753483ab53dc18b58bfacd</string>
</dict>
</plist>